@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300;400;500;600;700;800;900&display=swap");

$arial: Arial, Helvetica, sans-serif;
$noto: "Noto Serif", serif;

* {
  font-family: $arial;
}

.copy-clients-main {
  padding: 20px 15px;
  .field {
    max-width: 900px;
    margin: 0 auto 80px auto;

    h1 {
      text-align: center;
      margin-top: 20px;
      font-size: 3.5rem;
      line-height: 1.4;
      font-weight: 900;
    }

    h2 {
      text-align: center;
      margin-top: 25px;
      font-weight: 500;
      font-size: 1.6rem;
      font-weight: 600;
    }

    .text-sec {
      margin-top: 85px;

      p {
        font-size: 1.25rem;
        margin-bottom: 25px;
      }

      .but {
        display: block;
        width: max-content;
        background-color: #ff0000;
        color: white;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 20px 50px;
        margin: 70px auto 30px auto;
        border-radius: 3px;
      }

      .but:hover {
        opacity: 0.7;
      }

      .b2 {
        margin-top: 45px;
      }

      .ul-holder {
        display: flex;
        justify-content: center;

        ul {
          padding: 10px 25px 20px 25px;
          max-width: 700px;

          li {
            font-size: 1.25rem;
            margin-bottom: 20px;
          }
          .b {
            font-weight: 800;
          }
        }
      }

      h3 {
        text-align: center;
        margin: 80px 0 60px 0;
        font-size: 2.7rem;
        line-height: 1.4;
        font-weight: 900;
      }

      .holder-holder {
        display: flex;
        justify-content: center;
        .opt-in-holder {
          max-width: 700px;
          .respect {
            display: block;
            margin-top: 10px;
            text-align: center;
          }
        }
      }

      .testimonial {
        display: flex;
        margin: 100px 0;
        gap: 20px;

        div {
          color: #e2e2e2;
          font-size: 2.4rem;

          div {
            margin-top: 20px;
            color: black;
            font-size: 1.35rem;
            font-weight: 500;
            line-height: 1.4;

            span {
              font-weight: 800;
            }
          }
        }

        img {
          border-radius: 100%;
          width: 330px;
          height: 330px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .copy-clients-main {
    .field {
      .text-sec {
        .testimonial {
          flex-direction: column;
          text-align: center;
          align-items: center;

          div {
            div {
              padding: 0 15px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .copy-clients-main {
    .field {
      .pre-header {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 1.6rem;
      }

      h2 {
        font-size: 1.3rem;
      }

      .text-sec {
        margin-top: 75px;

        p {
          font-size: 1.2rem;
        }

        .but {
          font-size: 1.5rem;
        }

        .b2 {
          margin-top: 45px;
        }

        ul {
          li {
            font-size: 1.2rem;
          }
        }

        h3 {
          margin: 20px 0 50px 0;
          font-size: 2rem;
        }

        .testimonial {
          display: flex;
          margin: 80px 0;
          gap: 30px;

          div {
            div {
              font-size: 1.2rem;
            }
          }

          img {
            width: 290px;
            height: 290px;
          }
        }
      }
    }
  }
}
