@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$rale: raleway, system-ui;
$mont: "Montserrat", sans-serif;
$merri: "Merriweather", serif;
$fira: "Fira Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $mont;
  transition: 200ms ease-in-out;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0;
}

.lightlogo {
  color: #000000;
}

.divider {
  border: none;
  border-top: 0.5px dashed #d2d1d1;
  margin-bottom: 12px;
}

body {
  background-color: white;
  height: 100vh;
}

header {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 150px;
  justify-content: space-between;

  .logo {
    color: #ffffff;
    flex-basis: 20%;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.05em;
  }

  h2:hover {
    opacity: 0.6;
  }

  nav {
    display: flex;
    gap: 2.2rem;
    justify-content: end;
    font-size: 1.3rem;
    font-weight: 600;
    .toggle {
      display: none;
    }

    a {
      color: #ffffff;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  .theme-toggle {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
  }
}

.index-main {
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;

  .welcomer {
    background-color: #000000;
    min-height: 100vh;
    display: block;
    padding: 0 150px;

    h1 {
      margin-top: 200px;
      font-size: 8.2vw;
      font-weight: 900;
      background: -webkit-linear-gradient(#c7c7c7, #ffffff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    hr {
      max-width: 710px;
    }

    p {
      max-width: 700px;
      color: #ffffff;
      font-size: 1.6vw;
      font-weight: 400;
      padding: 25px 0;
    }

    form {
      padding: 20px 0;
      display: flex;
      gap: 50px;

      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        padding: 15px 20px;
        font-size: 1.1rem;
        color: white;
        min-width: 25vw;
      }
      input:focus {
        outline: none;
      }

      button {
        border-radius: 2px;
        font-size: 1.1rem;
        padding: 15px 55px;
        font-weight: 500;
        background-color: white;
        border: 2px solid white;
      }
      button:hover {
        background-color: transparent;
        color: white;
      }
    }
  }

  .recent-articles {
    padding: 90px 150px 90px 150px;

    h2 {
      font-size: 4rem;
      font-family: $merri;
      margin-bottom: 50px;
      // letter-spacing: 2px;
    }

    div {
      article {
        margin-top: 40px;
        div {
          font-size: 1.05rem;
          margin-bottom: 7px;
          font-weight: 500;
          opacity: 0.7;
          padding-left: 10px;
          border-left: 3.5px solid black;
        }

        a {
          display: block;
          width: 90%;
          text-decoration: none;
          h4 {
            font-size: 1.8rem;
          }
          h4:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .read-more {
      display: block;
      width: max-content;
      text-decoration: none;
      color: #ffffff;
      margin-top: 50px;
      border-radius: 2px;
      font-size: 1.1rem;
      padding: 15px 55px;
      font-weight: 500;
      background-color: black;
      border: 2px solid black;
    }
    .read-more:hover {
      background-color: transparent;
      color: black;
    }
  }
}

.articles-main {
  flex: 1 1 auto;
  padding: 100px 20px 0 20px;

  h1 {
    text-align: center;
    font-size: 5rem;
    font-family: $merri;
    font-weight: 900;
  }

  .articles-holder {
    margin: auto;
    margin-top: 35px;
    max-width: 800px;
    padding: 40px 0 10px 0;
    border-left: 3.5px solid #000000; //#414141
    position: relative;

    .grad-top {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4px;
      width: 4px;
      height: 40px;
      background-image: linear-gradient(
        to top,
        rgba(255, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
    }
    .grad-bottom {
      position: absolute;
      bottom: 0;
      left: -4px;
      width: 4px;
      height: 30px;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
    }

    .articles {
      article {
        margin: 0 0 30px 0;
        padding: 0 0 5px 40px;
        position: relative;
        .article-content {
          div {
            font-size: 1rem;
            margin-bottom: 2px;
            font-weight: 500;
            opacity: 0.7;
          }
          .timeline {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 999px;
            top: -4px;
            left: -13.5px;
            opacity: 1;
            background: #000000;
            border: 5px solid white;
          }

          a {
            display: block;
            text-decoration: none;
            h4 {
              font-size: 1.6rem;
              margin-bottom: 3px;
            }
            h4:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.article-main {
  flex: 1 1 auto;
  padding: 50px 0;

  .article-holder {
    max-width: 800px;
    padding: 75px 25px 50px 25px;
    margin: auto;

    .intro {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 2.3rem;
        line-height: 1.27;
      }
      span {
        font-weight: 700;
        font-size: 1.1rem;
        opacity: 0.65;
      }
    }

    .article-contents {
      margin-top: 50px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 25px;
        line-height: 1.45;
      }

      div {
        padding: 10px 0;
        h2 {
          font-size: 1.9rem;
          margin-bottom: 25px;
        }

        ul {
          margin-left: 25px;
          li {
            h4 {
              font-size: 1.3rem;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.projects-main {
  flex: 1 1 auto;
  padding: 100px 20px;

  .projects-holder {
    h1 {
      text-align: center;
      font-size: 5rem;
      font-family: $merri;
      font-weight: 900;
    }

    .darkh1 {
      background: -webkit-linear-gradient(#a0a0a0, #ffffff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .projects {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      article {
        width: 700px;
        display: flex;
        gap: 40px;
        align-items: center;
        padding-top: 15px;

        .sec1 {
          display: flex;
          gap: 10px;

          .icons {
            display: flex;
            gap: 10px;
            font-size: 2.3rem;
          }

          a {
            font-size: 1.2rem;
            margin-top: 2px;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 9vh;
  font-size: 1.5rem;

  a {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  a:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 50px;
    nav {
      display: flex;
      gap: 2.2rem;
      justify-content: end;
      font-size: 1.3rem;
      font-weight: 600;
      a {
        color: #ffffff;
      }

      a:hover {
        opacity: 0.8;
      }
    }

    .theme-toggle {
      flex-basis: 20%;
      display: flex;
      justify-content: flex-end;
      font-size: 1.3rem;
    }
  }

  .index-main {
    .welcomer {
      padding: 0 50px;

      h1 {
        margin-top: 220px;
        font-size: 8.8vw;
      }

      p {
        font-size: 2vw;
      }

      form {
        input {
          min-width: 27vw;
        }

        button {
          padding: 15px 40px;
        }
      }
    }

    .recent-articles {
      padding: 80px 50px 90px 50px;

      h2 {
        font-size: 6.3vw;
      }

      div {
        article {
          div {
            font-size: 1.8vw;
          }

          a {
            width: 100%;
            text-decoration: none;
            h4 {
              font-size: 3vw;
            }
          }
        }
      }

      .read-more {
        padding: 15px 45px;
      }
    }
  }
}

@media (max-width: 600px) {
  .back-to-top {
    bottom: 17px;
    right: 17px;
  }

  .divider {
    width: 90%;
  }

  header {
    padding: 0 15px;
    border: none;
    background-color: #000000;
    z-index: 50;

    h2 {
      font-size: 1.8rem;
    }

    nav {
      z-index: -5;
      a {
        display: none;
      }

      .toggle {
        display: flex;
        align-items: center;
        color: white;
        font-size: 5.1vw;
      }
    }
    .dropdown {
      position: absolute;
      background-color: white;
      top: 0;
      right: 0;
      left: 0;
      transform: translate(0, -1000px);
      z-index: -20;
    }

    .down {
      transform: translate(0, 65px);
    }

    .theme-toggle {
      flex-basis: 5%;
    }
  }

  .index-main {
    .welcomer {
      h1 {
        // font-size: 2.3rem;
        font-size: 10.8vw;
        margin-bottom: 5px;
      }

      p {
        font-size: 1.1rem;
        padding: 0 8px 20px 8px;
      }
    }
  }

  .index-main {
    .welcomer {
      background-color: #000000;
      min-height: 100vh;
      display: block;
      padding: 0 150px;

      h1 {
        margin-top: 200px;
        font-size: 10.8vw;
        margin-bottom: 5px;
      }

      hr {
        max-width: 710px;
      }

      p {
        max-width: 700px;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 25px 0;
      }

      form {
        padding: 20px 0;
        display: flex;
        gap: 50px;

        input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid white;
          padding: 15px 20px;
          font-size: 1.1rem;
          color: white;
          min-width: 400px;
        }
        input:focus {
          outline: none;
        }

        button {
          border-radius: 2px;
          font-size: 1.1rem;
          padding: 15px 55px;
          font-weight: 500;
          background-color: white;
          border: 2px solid white;
        }
        button:hover {
          background-color: transparent;
          color: white;
        }
      }
    }

    .recent-articles {
      padding: 90px 150px 90px 150px;

      h2 {
        font-size: 4rem;
        font-family: $merri;
        margin-bottom: 50px;
        // letter-spacing: 2px;
      }

      div {
        article {
          margin-top: 40px;
          div {
            font-size: 1.05rem;
            margin-bottom: 7px;
            font-weight: 500;
            opacity: 0.7;
            padding-left: 10px;
            border-left: 3.5px solid black;
          }

          a {
            display: block;
            width: 90%;
            text-decoration: none;
            h4 {
              font-size: 1.8rem;
            }
            h4:hover {
              opacity: 0.5;
            }
          }
        }
      }

      .read-more {
        display: block;
        width: max-content;
        text-decoration: none;
        color: #ffffff;
        margin-top: 50px;
        border-radius: 2px;
        font-size: 1.1rem;
        padding: 15px 55px;
        font-weight: 500;
        background-color: black;
        border: 2px solid black;
      }
      .read-more:hover {
        background-color: transparent;
        color: black;
      }
    }
  }

  .articles-main {
    .articles-holder {
      max-width: 770px;
      padding: 15px 0 10px 0;

      .articles {
        article {
          padding: 0 0 5px 20px;
          .article-content {
            div {
              font-size: 0.85rem;
            }
            a {
              width: 95%;
              h4 {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }

  .article-main {
    .article-holder {
      padding: 45px 15px 20px 15px;
      .intro {
        span {
          font-size: 1rem;
        }
      }
    }
  }

  .projects-main {
    .projects-holder {
      padding: 40px 0 0 0;

      h1 {
        font-size: 9.5vw;
      }

      .projects {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        article {
          flex-direction: column;
          gap: 15px;
          padding-top: 15px;

          .sec1 {
            width: 100%;
            justify-content: space-between;
            gap: 10px;
            align-items: center;

            .icons {
              font-size: 7.3vw;
            }

            a {
              font-size: 4.7vw;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }

  footer {
    height: 80px;
  }
}

@media (max-width: 300px) {
  .dark-divider {
    width: 90%;
  }

  .divider {
    width: 90%;
  }

  header {
    padding: 0 10px;
    border: none;

    h2 {
      font-size: 1.3rem;
    }

    nav {
      flex-basis: 35%;
      text-align: end;
      font-size: 1rem;
    }

    .theme-toggle {
      flex-basis: 5%;
    }
  }

  .index-main {
    .welcomer {
      h1 {
        margin-bottom: 5px;
      }

      p {
        font-size: 1rem;
        padding: 0 8px 20px 8px;
        text-align: center;
      }
    }
  }
  .articles-main {
    padding: 0 10px;
    .articles-holder {
      .articles {
        article {
          padding: 0 0 5px 15px;
          .article-content {
            a {
              h4 {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  .article-main {
    .article-holder {
      padding: 45px 10px 20px 10px;
      .intro {
        h1 {
          font-size: 2rem;
        }
      }
      .article-contents {
        margin-top: 50px;
        h3 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.2rem;
        }
        div {
          h2 {
            font-size: 1.8rem;
          }

          ul {
            li {
              h4 {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding: 0 20px;
    height: 65px;
    a {
      font-size: 1.25rem;
    }
  }
}
