@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300;400;500;600;700;800;900&display=swap");

$arial: Arial, Helvetica, sans-serif;
$noto: "Noto Serif", serif;

* {
  margin: 0;
  padding: 0;
  font-family: $arial;
  transition: 200ms ease-in-out;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.sub-holder {
  padding: 75px 0 85px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  div {
    color: #b5b5b5;
    font-size: 0.85rem;
    padding-bottom: 15px;
  }

  span {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.back-to-top {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0;
}

.sub-holder {
  padding: 75px 0 85px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;

  span {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
}

.sub-btn {
  background-color: #ffde59;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 16px 55px;
  border-radius: 2px;
  border: 2px solid #ffde59;
}

.sub-btn:hover {
  background-color: transparent;
  color: #ffde59;
}

header {
  transition: none;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 150px;
  justify-content: space-between;

  .logo {
    color: #000000;
    font-family: $noto;
    flex-basis: 20%;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.03em;

    span {
      font-family: $noto;
      font-size: 1rem;
    }
  }

  h2:hover {
    opacity: 0.7;
  }

  nav {
    display: flex;
    gap: 2.2rem;
    justify-content: end;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    .toggle {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      color: #000000;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  .dropdown {
    display: none;
  }
}

.index-main {
  .welcomer {
    margin-top: 100px;
    padding: 20px 150px 80px 150px;
    padding-top: 0px;

    .some {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-top: 40px;
        text-align: center;
        font-family: $noto;
        font-size: 6.4vw;
        font-weight: 800;
        letter-spacing: 1.5px;
        color: #000000;
        span {
          font-family: $noto;
          color: #ffde59; //#ffde59
        }
      }

      p {
        text-align: center;
        max-width: 900px;
        font-size: 1.3rem;
        font-weight: 400;
        padding: 20px 0;
      }

      .divider {
        width: 150px;
        border: none;
        border-top: 2px dotted #000000;
        margin: 15px 0 10px 0;
      }

      .holder {
        display: flex;
        max-width: 800px;
        flex-direction: column;
        align-items: center;
        gap: 1px;

        span {
          color: #000000;
          font-size: 1.25rem;
          padding: 20px 0 20px 0;
        }
      }
    }
  }

  .recent-articles {
    padding: 0px 200px 40px 200px;
    text-align: center;

    h2 {
      font-size: 4rem;
      font-family: $noto;
      margin-bottom: 90px;
    }

    .sub-holder {
      padding: 75px 0 85px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;

      span {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 20px 0 20px 0;
      }
    }

    .recent-holder {
      display: flex;
      justify-content: space-between;

      article {
        flex-basis: 33%;

        a {
          display: block;
          text-align: left;
          width: 95%;
          text-decoration: none;
          text-align: center;
          color: #000000;

          .article-cover {
            width: 100%;
            max-width: 250px;
            height: 100%;
            max-height: 250px;
            margin-bottom: 15px;
          }

          .article-cover:hover {
            box-shadow: 7px 7px 0px #000000;
          }

          h4 {
            font-size: 1.2rem;
          }
          h4:hover {
            opacity: 0.5;
          }

          div {
            padding: 12px 0 8px 0;
          }

          span {
            opacity: 0.7;
          }
        }
      }
    }

    .read-more {
      display: inline-block;
      width: max-content;
      text-decoration: none;
      color: #ffffff;
      margin-top: 70px;
      border-radius: 2px;
      font-size: 1.1rem;
      padding: 15px 55px;
      font-weight: 500;
      background-color: black;
      border: 2px solid black;
    }
    .read-more:hover {
      background-color: transparent;
      color: black;
    }
  }
}

.articles-main {
  flex: 1 1 auto;
  padding: 100px 200px 30px 200px;

  h1 {
    text-align: center;
    font-size: 5rem;
    font-family: $noto;
    font-weight: 900;
  }

  .articles-holder {
    margin-top: 60px;
    margin-bottom: 40px;

    .articles {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      article {
        flex-basis: 33%;

        a {
          display: block;
          text-align: left;
          width: 95%;
          text-align: center;
          text-decoration: none;
          color: #000000;

          .article-cover {
            width: 100%;
            max-width: 250px;
            height: 100%;
            max-height: 250px;
            margin-bottom: 15px;
          }

          .article-cover:hover {
            box-shadow: 7px 7px 0px #000000;
          }

          h4 {
            font-size: 1.2rem;
          }
          h4:hover {
            opacity: 0.5;
          }

          div {
            padding: 12px 0 8px 0;
          }

          span {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.article-main {
  flex: 1 1 auto;
  padding: 80px 0 10px 0;
  .article-holder {
    max-width: 700px;
    padding: 75px 25px 20px 25px;
    margin: auto;

    .intro {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 2.3rem;
        font-family: $noto;
        font-weight: 800;
        line-height: 1.27;
      }
      span {
        font-weight: 400;
        font-size: 1.1rem;
        opacity: 0.8;
        display: flex;
        gap: 7px;
        align-items: center;

        .dot {
          background-color: #000000;
          display: inline-block;
          width: 4px;
          margin-top: 2px;
          height: 4px;
          border-radius: 100%;
        }
      }
    }

    .article-contents {
      margin-top: 50px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
      .cover-image-holder {
        margin: 20px 0;
        text-align: center;

        div {
          font-size: 0.8rem;
          padding-top: 2px;

          a {
            color: #ffde59;
          }
        }
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 25px;
        line-height: 1.45;
      }
      .bold {
        font-weight: 600;
      }

      div {
        padding: 10px 0;
        h2 {
          font-size: 1.9rem;
          margin-bottom: 25px;
        }

        .bold-important {
          font-weight: 700;
        }

        .bold {
          font-weight: 600;
        }

        h3 {
          margin-top: 30px;
          margin-bottom: 25px;
        }

        ul {
          margin-left: 25px;
          li {
            h4 {
              font-size: 1.2rem;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.subscribe-main {
  flex: 1 1 auto;
  display: flex;
  padding: 40px 0 80px 0;
  flex-direction: column;
  align-items: center;

  section {
    width: 600px;
  }

  .img-sec {
    text-align: center;
    img {
      width: 350px;
      height: 350px;
      border-radius: 100%;
    }
  }

  .text-sec {
    padding-top: 30px;
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    h3 {
      font-size: 1.3rem;
      padding: 20px 0 30px 0;
    }

    h4 {
      padding: 15px 0 10px 0;
      font-size: 1.25rem;
    }

    p {
      font-size: 1.13rem;
      padding-bottom: 8px;
    }

    .respect {
      display: block;
      text-align: center;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 9vh;
  font-size: 1.5rem;
  background-color: #000000;

  a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  a:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 50px;
    nav {
      display: flex;
      gap: 2.2rem;
      justify-content: end;
      font-size: 1.3rem;
      font-weight: 600;
      a {
        color: #000000;
      }

      a:hover {
        opacity: 0.8;
      }
    }
  }

  .index-main {
    .welcomer {
      padding: 0 50px;

      .some {
        h1 {
          // margin-top: 220px;
          font-size: 8.3vw;
        }

        p {
          font-size: 1.5rem;
        }

        form {
          input {
            min-width: 27vw;
          }

          button {
            padding: 15px 40px;
          }
        }
      }
    }

    .recent-articles {
      padding: 0px 25px 10px 25px;

      h2 {
        font-size: 6.3vw;
      }

      div {
        article {
          a {
            width: 100%;
            text-decoration: none;
            h4 {
              font-size: 3vw;
            }
          }
        }
      }

      .read-more {
        padding: 15px 45px;
      }
    }
  }

  .articles-main {
    padding: 100px 25px 0 25px;
  }
}

@media (max-width: 600px) {
  .back-to-top {
    bottom: 17px;
    right: 17px;
  }

  header {
    z-index: 15;
    padding: 0 15px;
    border: none;
    z-index: 50;

    h2 {
      font-size: 1.8rem;
    }

    nav {
      z-index: -5;
      a {
        display: none;
      }

      .toggle {
        display: flex;
        align-items: center;
        font-size: 7vw;
        color: #000000;
      }
    }
    .dropdown {
      display: block;
      position: absolute;
      background-color: white;
      top: 0;
      right: 0;
      left: 0;
      z-index: -20;
      transform: translate(0, 65px);
      height: 0px;
      opacity: 0;

      nav {
        display: none;
      }
    }

    .down {
      opacity: 1;
      height: min-content;

      nav {
        display: block;
        text-align: right;
        padding: 0px 20px;

        a {
          display: block;
          margin: 20px 0;
          color: #000000;
        }
      }
    }
  }

  .index-main {
    .welcomer {
      padding: 0px 5px 0 5px;

      .some {
        padding-top: 20px;
        h1 {
          font-size: 13vw;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p {
          padding: 5px 8px 25px 8px;
          // font-size: 1.35rem;
        }
      }
    }
    .recent-articles {
      padding: 70px 20px 10px 20px;

      h2 {
        font-size: 2.3rem;
        margin-bottom: 80px;
      }

      .recent-holder {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        article {
          a {
            text-align: center;
            width: 100%;
          }
        }
      }

      .read-more {
        padding: 15px 45px;
      }
    }
  }

  .articles-main {
    h1 {
      font-size: 13vw;
    }
    .articles-holder {
      .articles {
        flex-direction: column;
        gap: 30px;

        article {
          a {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }

  .article-main {
    padding: 65px 0 60px 0;
    .article-holder {
      padding: 45px 15px 20px 15px;
      .intro {
        span {
          font-size: 1rem;
        }
      }
    }
  }

  .subscribe-main {
    padding: 40px 10px 110px 10px;

    section {
      width: auto;
    }

    .img-sec {
      img {
        width: 300px;
        height: 300px;
      }
    }

    .text-sec {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  footer {
    height: 80px;
  }
}

@media (max-width: 340px) {
  header {
    padding: 0 10px;
    border: none;

    h2 {
      font-size: 1.5rem;
    }

    nav {
      flex-basis: 35%;
      text-align: end;
      font-size: 2rem;

      .toggle {
        font-size: 1.85rem;
      }
    }
    .dropdown {
      nav {
        a {
          font-size: 1.3rem;
        }
      }
    }
  }

  .index-main {
    .welcomer {
      padding-top: 20px;
      div {
        h1 {
          margin-bottom: 15px;
          font-size: 2.5rem;
        }

        p {
          font-size: 1.15rem;
          padding: 0 8px 20px 8px;
          text-align: left;
        }

        .holder {
          gap: 25px;

          span {
            font-size: 1.15rem;
          }

          a {
            font-size: 1.25rem;
          }
        }
      }
    }

    .recent-articles {
      padding: 70px 15px 10px 15px;

      .sub-holder {
        padding: 75px 0 85px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        span {
          font-size: 1.3rem;
        }
      }

      h2 {
        font-size: 10.5vw;
      }
      .read-more {
        font-size: 1rem;
        padding: 10px 20px;
      }
    }
  }

  .articles-main {
    padding: 100px 10px;
    h1 {
      font-size: 13vw;
    }
    .articles-holder {
      .articles {
        article {
          padding: 0 0 5px 15px;
          .article-content {
            div {
              font-size: 4.5vw;
            }
            a {
              h4 {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  .article-main {
    .article-holder {
      padding: 30px 10px 20px 10px;
      .intro {
        h1 {
          font-size: 2rem;
        }
      }
      .article-contents {
        margin-top: 50px;
        h3 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.2rem;
        }
        div {
          h2 {
            font-size: 1.8rem;
          }

          ul {
            li {
              h4 {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding: 0 20px;
    height: 65px;
    a {
      font-size: 1.25rem;
    }
  }
}
